/* -- style.css ----------------------------------------------------- {{{ */

#uzbl_link_hints > span {
  z-index:          1000              !important;
  background-color: #303030           !important;
  margin:           0                 !important;
  padding:          4px               !important;
  color:            #d0d0d0           !important;
  font-family:      "Source Code Pro" !important;
  font-size:        12px              !important;
  line-height:      12px              !important;
  text-decoration:  none              !important;

  -webkit-transform:     translate(-5px,-5px);
  opacity:               0.75;
  -webkit-border-radius: 4px !important;
}

#uzbl_link_hints.new-window > span {
  background-color: #ffff00 !important;
  color:            black   !important;
}

.uzbl-follow-text-match {
  outline:          2px solid invert;
  background-color: #303030 !important;
  color:            #d0d0d0 !important;
}

/* }}} */

/*
  vim:foldmethod=marker
*/
