# -- .gitignore ---------------------------------------------------- {{{

.bundle/
.gems/
.gs/
.sass-cache/
bower_components/
coverage/
node_modules/
tmp/
vendor/
*.lock
*.log
tags

# }}}

# vim:foldmethod=marker
