[user]
  name = Ellen Gummesson
  email = ellengummesson@gmail.com
[color]
  ui = true
[credential]
  helper = cache --timeout=3600
[alias]
  psom = push origin master
  plom = pull origin master
[diff]
  tool = meld
