[user]
  name = Ellen Gummesson
  email = ellengummesson@gmail.com
[color]
  ui = true
[alias]
  comm = commit -m
  psom = push origin master
  plom = pull origin master
[diff]
  tool = gvimdiff
[credential]
  helper = cache --timeout=3600
