# -- .aliases ------------------------------------------------------ {{{
#
# -- Directories
# -- Lists
# -- Files
# -- Git
# -- npm
# -- Bundler
# -- Miscellaneous
#
# }}}

# -- Directories --------------------------------------------------- {{{

alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# }}}

# -- Lists --------------------------------------------------------- {{{

alias ls="ls --color=auto"
alias ll="ls -l"
alias la="ls -a"

# }}}

# -- Files --------------------------------------------------------- {{{

alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# }}}

# -- Git ----------------------------------------------------------- {{{

alias g="git"
alias gi="git init"
alias gst="git status"
alias gls="git ls-files"
alias gd="git diff"
alias gl="git pull"
alias gp="git push"
alias gd="git diff"
alias gcmsg="git commit -m"
alias gco="git checkout"
alias gcm="git checkout master"
alias gr="git remote"
alias gb="git branch"
alias ga="git add"
alias gm="git merge"
alias gf="git fetch"
alias grh="git reset HEAD"

# }}}

# -- npm ----------------------------------------------------------- {{{

alias npmeu="npm --registry http://registry.npmjs.eu"
alias npmls="npm ls --depth=0"
alias npmx="npm run"

# }}}

# -- Bundler ------------------------------------------------------- {{{

alias be="bundle exec"

# }}}

# -- Miscellaneous ------------------------------------------------- {{{

alias _="sudo"
alias e="vim"
alias cls="clear"
alias reboot="sudo reboot"
alias shutdown="sudo shutdown -h now"
alias vimsu="sudo -E vim"
alias ping="ping -c 5"
alias untar="tar -xzvf"
alias unmount="udiskie-umount -a"
alias today="date +%Y/%m/%d"
alias duh="du -h -d 0 [^.]*"

# }}}

# vim:foldmethod=marker:filetype=sh
