# -- .exports ------------------------------------------------------ {{{
#
# -- Variables
# -- Sources
#
# }}}

# -- Variables ----------------------------------------------------- {{{

PATH="$HOME/.local/bin:$(ruby -rubygems -e 'puts Gem.user_dir')/bin:$HOME/.cabal/bin:$PATH"
LANG="en_US.UTF-8"
EDITOR="vim"
PAGER="less"
KEYTIMEOUT=1

# -- grep --

GREP_OPTIONS="--color=auto"
GREP_COLOR="1;32"

# -- nvm --

NVM_DIR="$HOME/.nvm"

# }}}

# -- Sources ------------------------------------------------------- {{{

# -- nvm --

source /usr/share/nvm/nvm.sh

# }}}

# vim:foldmethod=marker:filetype=sh
