# -- .exports ------------------------------------------------------ {{{
#
# -- Variables
#
# }}}

# -- Variables ----------------------------------------------------- {{{

PATH="${HOME}/.local/bin:${HOME}/.local/node_modules/.bin:$(ruby -rubygems -e 'puts Gem.user_dir')/bin:${HOME}/.cabal/bin:${PATH}"
LANG="en_US.UTF-8"
EDITOR="vim"
PAGER="less"
GREP_OPTIONS="--color=auto"
GREP_COLOR="1;32"
KEYTIMEOUT=1

# }}}

# vim:foldmethod=marker:filetype=sh
