# -- .functions ---------------------------------------------------- {{{
#
# -- `mkcd`
#
# }}}

# -- `mkcd` -------------------------------------------------------- {{{

function mkcd() {
  mkdir -p "$1"
  cd "$1"
}

# }}}

# vim:foldmethod=marker:filetype=sh
