# -- .functions ---------------------------------------------------- {{{
#
# -- `mkcd`
# -- `tnew`
#
# }}}

# -- `mkcd` -------------------------------------------------------- {{{

mkcd() {
  mkdir -p "$1" && cd "$1"
}

# }}}

# -- `tnew` -------------------------------------------------------- {{{

tnew() {
  tmux new-session -As "$(basename $PWD)"
}

# }}}

# vim:foldmethod=marker:filetype=sh
