# -- nano.rc ------------------------------------------------------- {{{
#
# -- Settings
# -- Syntax files
#
# }}}

# -- Settings ------------------------------------------------------ {{{

set autoindent                # Use auto-indentation
set backwards                 # Do backwards searches by default
set brackets ""')>]}"         # The characters treated as closing brackets when justifying paragraphs
set fill 80                   # Set the line length for wrapping text and justifying paragraphs
set matchbrackets "(<[{)>]}"  # The opening and closing brackets that can be found by bracket searches
set multibuffer               # Allow multiple file buffers
set nohelp                    # Don't display the helpful shortcut lists at the bottom of the screen
set nowrap                    # Don't wrap text at all
set punct "!.?"               # The characters treated as closing punctuation when justifying paragraphs
set rebinddelete              # Fix Backspace/Delete confusion problem
set smarthome                 # Make the Home key smarter
set smooth                    # Use smooth scrolling as the default
set softwrap                  # Enable soft line wrapping
set tabsize 2                 # Use this tab size instead of the default
set tabstospaces              # Convert typed tabs to spaces
set undo                      # Enable the new (EXPERIMENTAL) generic undo code, not just for line cuts
set wordbounds                # Detect word boundaries more accurately by treating punctuation characters as parts of words

# }}}

# -- Syntax files -------------------------------------------------- {{{

include "~/.nano/markdown.nanorc"

# }}}


# vim:filetype=conf:foldmethod=marker
