# -- .rtorrent.rc -------------------------------------------------- {{{

# -- Rates --

download_rate = 0
upload_rate = 100

# -- Directories --

directory = /home/ellen/Downloads
session = /home/ellen/.rtorrent/session

# -- Schedules --

schedule = watch_directory,5,5,load_start=/home/ellen/.rtorrent/watch/*.torrent
schedule = untied_directory,5,5,stop_untied=
schedule = low_diskspace,5,60,close_low_diskspace=100M

# }}}

# vim:foldmethod=marker
