#!/bin/bash

#-----------
#  Aliases
#-----------

# Ruby
alias rake="rake1.9.3"

# Grep
alias grep="grep --color"         # Enable diff color
alias egrep="egrep --color=auto"
alias fgrep="fgrep --color=auto"

# Lists
alias ll="ls -l"  # Long list
alias la="ls -a"  # List all but . and ..

# Copy
alias cp="cp -i"  # Confirm copy

# Move
alias mv="mv -i"  # Confirm move

# Remove
alias rm="rm -i"  # Confirm removal

# Directories
alias vdir="ls --color=auto --format=vertical"  # List directory (vertically)
alias ldir="ls --color=auto --format=long"      # List directory (long)
