#!/bin/bash

##########
# ALIASES
##########

# RUBY
alias rake="rake1.9.3"

# GREP
alias grep="grep --color"         # Enable diff color
alias egrep="egrep --color=auto"  # Enable diff color
alias fgrep="fgrep --color=auto"  # Enable diff color

# LISTS
alias ll="ls -l"  # Long list
alias la="ls -a"  # List all but . and ..

# COPY
alias cp="cp -i"  # Confirm copy

# MOVE
alias mv="mv -i"  # Confirm move

# REMOVE
alias rm="rm -i"  # Confirm removal

# DIRECTORIES
alias vdir="ls --color=auto --format=vertical"  # List directory (vertically)
alias ldir="ls --color=auto --format=long"      # List directory (long)
