#!/bin/bash

#-------------
#  Functions
#-------------

# Note-taking
function no() {
  retext ~/Dropbox/Dokument/Anteckningar/$1.txt  # Open/create note
}

function nos() {
  ls -c ~/Dropbox/Dokument/Anteckningar | grep --color=always $1  # Search for a note (by last modified date)
}

function nol() {
  ls -c ~/Dropbox/Dokument/Anteckningar  # List all notes (by last modified date)
}

function not() {
  cat ~/Dropbox/Dokument/Anteckningar/$1.txt  # Display the note in the terminal
}

# Todo
function td() {
  echo $@ >> ~/Dropbox/Dokument/Anteckningar/todo.txt  # Add a todo
}

function tdf() {
  cat ~/Dropbox/Dokument/Anteckningar/todo.txt | grep --color=always $1  # Find a todo
}

# The Spark File
function add() {
  echo -e "\t- $@" >> ~/Dropbox/Dokument/Anteckningar/spark-file.txt  # Add an item (with TaskPaper formatting)
}

