! -- .Xresources --------------------------------------------------- {{{
!
! -- Xft
! -- urxvt
!
! }}}

! -- Xft ----------------------------------------------------------- {{{

Xft.autohint: true
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! }}}

! -- urxvt --------------------------------------------------------- {{{

! -- Window --

URxvt.geometry: 80x24
URxvt.transparent: false
URxvt.fading: 0
URxvt.loginShell: true
URxvt.saveLines: 500
URxvt.internalBorder: 0
URxvt.urgentOnBell: true

! -- Font --

URxvt.font: xft:Fira Mono:Regular:pixelsize=16
URxvt.boldFont: xft:Fira Mono:Bold:pixelsize=16
URxvt.italicFont: xft:Fira Mono:Italic:pixelsize=16
URxvt.boldItalicFont: xft:Fira Mono:Bold:Italic:pixelsize=16
URxvt.lineSpace: 0
URxvt.letterSpace: -1

! -- Scrollbar --

URxvt.scrollStyle: plain
URxvt.scrollBar: false

! -- Cursor --

URxvt.cursorBlink: false
URxvt.cursorUnderline: false

! -- Colors --

#include "/home/ellen/.xcolors"

! -- Extensions --

URxvt.perl-ext-common: default,matcher,fullscreen,font-size
URxvt.matcher.button: 1
URxvt.url-launcher: /usr/bin/chromium

! -- Keybindings --

URxvt.keysym.F11: perl:fullscreen:switch
URxvt.keysym.C-Up: perl:font-size:increase
URxvt.keysym.C-Down: perl:font-size:decrease

! }}}

! vim:foldmethod=marker
