# -- .aliases ------------------------------------------------------ {{{
#
# -- Lists
# -- Files
# -- Git
# -- npm
# -- Bundler
# -- Miscellaneous
#
# }}}

# -- Lists --------------------------------------------------------- {{{

alias ls="ls --color=auto"
alias ll="ls -l"
alias la="ls -a"
alias lg="ls --group-directories-first"

# }}}

# -- Files --------------------------------------------------------- {{{

alias cp="cp -i"
alias mv="mv -i"
alias rm="rm -i"

# }}}

# -- Git ----------------------------------------------------------- {{{

alias g="git"
alias gi="git init"
alias gst="git status"
alias gls="git ls-files"
alias gl="git pull"
alias gp="git push"
alias gd="git diff"
alias gds="git diff --staged"
alias gdw="git diff --word-diff"
alias gcmsg="git commit -m"
alias gco="git checkout"
alias gcm="git checkout master"
alias gr="git remote"
alias gb="git branch"
alias ga="git add"
alias gm="git merge"
alias gf="git fetch"
alias grh="git reset HEAD"

# }}}

# -- npm ----------------------------------------------------------- {{{

alias npmls="npm ls --depth=0"
alias npmx="npm run"

# }}}

# -- Bundler ------------------------------------------------------- {{{

alias be="bundle exec"
alias bi="bundle install"

# }}}

# -- Miscellaneous ------------------------------------------------- {{{

alias up="cd .."
alias ping="ping -c 5"
alias untar="tar -xzvf"
alias duh="du -h -d 0 [^.]*"
alias today="date +%Y-%m-%d"
alias week="date +%V"
alias e="vim"
alias j="z"
alias chrome="google-chrome-stable"
mkcd() { mkdir -p "${1}" && cd "${1}" }

# }}}

# vim:foldmethod=marker:filetype=sh
