# -- .exports ------------------------------------------------------ {{{
#
# -- Variables
#
# }}}

# -- Variables ----------------------------------------------------- {{{

GOPATH="${HOME}/.golang"
PATH="${PATH}:${HOME}/.local/bin:$(ruby -rubygems -e 'puts Gem.user_dir')/bin:${GOPATH}/bin"
LANG="en_US.UTF-8"
EDITOR="vim"
PAGER="less"
KEYTIMEOUT=1

# -- grep --

GREP_OPTIONS="--color=auto"
GREP_COLOR="1;32"

# }}}

# vim:foldmethod=marker:filetype=sh
